body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #EAE7DC;
  color:#561C24;
  font-size: large;
}

header{
  background-color: #FFBE98;
  color:#561C24;
  padding-top: 3%;
  font-size: 200%;
  margin-bottom: -50px;
}        

#content{
  padding-left: 4%;
}

/* Style the navbar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position:sticky;
    top:0
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  #log{
    float: right;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  .navbar a:hover{
    background-color: #f2f2f2 ;
    color: #333;
  }

  .active{
    background-color: #561C24; ;
    color: #f2f2f2;
  }
