{% extends "base.html" %}

{% block title %}Merchandise Store{% endblock title %}

{% block content %}
    <h1>Your Cart</h1>

    {% for seller in list_of_sellers %}
        {% if seller.user.username != request.user.username %}
            <h2>{{ seller.display_name }}</h3>
        {% endif %}
        {% for transaction in transactions_by_buyer %}
            {% if seller.user.username == transaction.product.owner.user.username %}
                <li>Product: {{ transaction.product.name }}</li>
                <ul>
                    <p>
                        Buyer: {{ transaction.buyer.display_name }} <br>
                        Amount: {{ transaction.amount }} <br>
                        Status: {{ transaction.status }} <br>
                        Created on: {{ transaction.created_on }}
                    </p>
                </ul>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock content %}