<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <style>
        body{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: #FEECE2;
            color:#561C24;
            font-size: large;
            padding-left: 4%;
        }
        
        header{
            background-color: #FFBE98;
            color:#561C24;
            padding-top: 3%;
            font-size: 200%;
            padding-left: 0.5%;
        }        
    </style>

</head>
<body>
    <header>
        <h1>(～￣▽￣)～☆ HOBBYSITE ☆～(￣▽￣～)</h1>
    </header>
    <div id="content">
        {% if request.user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            {% if request.get_full_path != '/accounts/login/' %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>