{% extends "base.html" %}

{% block content %}
    <h1>{{ commission.title }}</h1>
    <p> {{ commission.description }} </br>
        {{ commission.people_required }} people</p>
    <p> Created on {{ commission.created_on }}<br>
        Updated on {{ commission.updated_on }}</p>

    <h2>Comments</h2>
    {% for comment in commission.comment.all %}
        <p>{{ comment.entry }}</p>
        <p> created: {{ comment.created_on }} <br>
            updated: {{ comment.updated_on }} </p>
        <br>   
    {% endfor %}

{% endblock content %}