{% extends "base.html" %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ commission_form }}
        
        <div id="jobFormsContainer">
            <div class="jobFormTemplate">
                {{ job_form }}
            </div>
        </div>
        <button id="addJobButton" type="button">Add Job</button>
        <button type="submit">Apply</button>
        <script>
            document.getElementById("addJobButton").addEventListener("click", function() {
                // Clone the job form template
                var jobFormTemplate = document.querySelector('.jobFormTemplate').cloneNode(true);
                
                // Remove the 'jobFormTemplate' class from the cloned form
                jobFormTemplate.classList.remove('jobFormTemplate');
                
                // Append the cloned job form to the container
                document.getElementById("jobFormsContainer").appendChild(jobFormTemplate);
                
            // Show the cloned job form
            jobFormTemplate.style.display = "block";
        });
        </script>
    </form>
    


{% endblock content %}