{% extends "base.html" %}

{% block content %}
    <h1>{{ commission.title }}</h1>
    <p> {{ commission.description }} </br>
        {{ commission.people_required }} people</p>
    <p> Created on {{ commission.created_on }}<br>
        Updated on {{ commission.updated_on }}</p>

    <h6>Job List</h6>
        {% for job in commission.job.all %}
        <li>{{  job.job.role  }}</li>
        {% endfor %}

    <h6>Sum of manpower: {{ total_manpower_required }}</h6>
    <h6>Open manpower: {{ open_manpower }}</h6>
        
{% endblock content %}