{% extends "base.html" %}

{% block content %}
    <a href="{% url 'commissions:commission-detail' pk=commission.pk %}"><button>Cancel</button></a>

    <form method="POST" enctype="multipart/form-data">
        <h3>Commission Update</h3>
        {% csrf_token %}
        {{ form.as_div }}        

        <h3>Job Update</h3>
        {{ error_msg }} <br> <br>
        {% for job in jobs %}
            <label>Role for {{ job.role }}:</label>
            <input type="text" name="job_role_{{ job.pk }}" value="{{ job.role }}" required><br>
            <label>Manpower Required for {{ job.role }}:</label>
            <input type="text" name="job_manpower_required_{{ job.pk }}" value="{{ job.manpower_required }}" required><br>
            
            <label>Job Applications for {{ job.role }}:</label> <br> <br>
            {% for job_application in job_applications %}
                {% if job_application.job == job %}
                    {{ job_application.applicant }} 
                    {% for job_app_form in job_app_forms %}
                        {% if job_app_form.instance == job_application %}
                            <span>{{ job_app_form }}</span> <br>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}


        {% endfor %}
        <button>Submit</button>
    </form>
{% endblock content %}