{% extends "base.html" %}

{% block content %}
    <h1>{{ commission.title }}</h1>
    <h3>by {{ commission.author }}</br>
        status: {{ commission.status }}</h3>
    <p> Description: {{ commission.description }} </br>
        Total Manpower Required: {{ total_manpower_required }}</br>
        Total Open manpower: {{ open_manpower }}</p>
    <p> Created on {{ commission.created_on }}<br>
        Updated on {{ commission.updated_on }}</p>

    {% if request.user.is_authenticated %}
        <p>You can apply to a job as {{ display_name_of_user }}</p>
        {% if request.user == commission.author.user %}
            <a href="{% url 'ledger:recipe-add-image' pk=recipe.pk %}">Add images</a>
        {% endif %}
    {% endif %}


    <h3>Job List</h3>
        {% for job in jobs_in_commission %}
            <p> {{  job.role  }}: Total {{ job.manpower_required }} | Ongoing {{ job.ongoing_manpower }}</br>
                {{ job.status }}</p>

            {% if request.user.is_authenticated %}
                {% if request.user != commission.author.user %}
                    <form action="{% url 'commissions:commission-detail' pk=commission.pk %}" method="POST">
                        {% csrf_token %}
                        {{ job_application_form.as_p }}
                        
                        {% if job.manpower_requried == job.ongoing_manpower or job.applicants.status == 'accepted' %}
                            <button type="submit" disabled>Apply</button>
                        {% else %}
                            <button type="submit">Apply</button>
                        {% endif %}
                        
                        <input type="hidden" name="job_pk" value="{{ job.pk }}">                    
                            {% for job_app in job_applications %}
                                {% if job.role == job_app.job.role %}
                                    {% if job_app.applicant.user == request.user %}
                                        <span> status: {{ job_app.status }}</span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                    </form>
                {% endif %} 
            {% endif %}
        {% endfor %}
    
{% endblock content %}