{% extends 'base.html' %}

{% block title %} {{ name }} {% endblock %}
{% block content %}
    <h1>Threads</h1>
    <h2><a href="{% url 'forum:thread-create' %}">Add Thread</a></h2>
    
    {% for thread_category in object_list %}
        <h1>{{thread_category.name}}</h1>
        <ul>
            {% for thread in thread_category.threads.all %}
            <li><a href="{{ thread.get_absolute_url }}">{{ thread.title }} ({{ thread.created_on}}) </a></li>
            {% endfor %} 
        </ul>
    {% endfor %} 


{% endblock %}